#title{
	text-align: center;
}

.classElement{
	width: 150px;
	height: 200px;
	border: 2px solid black;
}

.classAttrs , .classMethods{
	width: .classElement.width;
	border: 2px solid black;
	border-left-style: none;
	border-right-style: none;
}

.classAttrs{
	height: 50px;
}

.classMethods{
	border-top-style: none;
	border-bottom-style: none;
	height: 125px;
}