#title{
	text-align: center;
	border-bottom: 2px solid black;
}

.classElement{
	display: inline-block;
	width: auto;
	min-height: 50px;
	border: 2px solid black;
	position: relative;
	margin-right: 50px;
}


.classAttrs{
	min-height: 10px;
	border-bottom: 2px solid black;
}

.classMethods{
	min-height: 10px;
}

canvas{
  position: absolute;
}